fonts
checkpoints
cocoapi
geodataset
datasets_torchvision
experiments
loss_logs
outputs
loss
plots
results
temp.json
output.txt
earlyStopping.py
.idea/*
__pycache__/*
plotResults.py
embeddings/*
descricoes.xlsx
*.xlsx
capivara
*.pkl
evaluateCaptioning.py
logs
config.yaml
textDatasets
opt.yaml
configs
gapAnalysis
test
CLIP-LoRA